
{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
	<div class="container d-lg-flex justify-content-between py-2 py-lg-3">
		<div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
			<nav aria-label="breadcrumb">
				<ol
					class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start"
				>
					<li class="breadcrumb-item">
						<a class="text-nowrap" href="/"
							><i class="ci-home"></i>Home</a
						>
					</li>
					<li class="breadcrumb-item text-nowrap">
						<a href="/shop">shop</a>
					</li>
					<li
						aria-current="page"
						class="breadcrumb-item text-nowrap active"
					>
						
					</li>
				</ol>
			</nav>
		</div>
		<div class="order-lg-1 pe-lg-4 text-center text-lg-start">
			<h1 class="h3 text-light mb-0"></h1>
		</div>
	</div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
	<div class="row">
		
		<!-- Sidebar-->
		<aside class="col-lg-4">
			<!-- Sidebar-->
			<div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1" id="shop-sidebar" style="max-width: 22rem">
				
				<div class="offcanvas-header align-items-center shadow-sm">
					<h2 class="h5 mb-0">Filters</h2>
					<button
						aria-label="Close"
						class="btn-close ms-auto"
						data-bs-dismiss="offcanvas"
						type="button"
					></button>
				</div>
				<div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">

					<!-- Categories-->					 
					<div class="widget widget-categories mb-4 pb-4 border-bottom">
						<h3 class="widget-title">Categories</h3>						
						<div class="accordion mt-n1" id="shop-categories">
							<!-- Shoes-->
							
							<div class="accordion-item">
								<h3 class="accordion-header">
									<a aria-controls="shoes" aria-expanded="false" class="accordion-button collapsed" data-bs-toggle="collapse" href="#shoes" 
										role="button">category section</a>									
								</h3>								
							</div>
							
						</div>
					</div>

				</div>
			</div>
		</aside>


		<!-- Content  -->
		<section class="col-lg-8">
			<!-- Toolbar-->
			<div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
				<div class="d-flex flex-wrap">
					<div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
						<label
							class="text-light opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block"
							for="sorting"
							>Sort by:</label
						>
						<select class="form-select" id="sorting">
							<option>Popularity</option>
							<option>Low - Hight Price</option>
							<option>High - Low Price</option>
							<option>Average Rating</option>
							<option>A - Z Order</option>
							<option>Z - A Order</option></select
						><span
							class="fs-sm text-light opacity-75 text-nowrap ms-2 d-none d-md-block"
							>of 287 products</span
						>
					</div>
				</div>
				<div class="d-flex pb-3">
					<a class="nav-link-style nav-link-light me-3" href="#"
						><i class="ci-arrow-left"></i></a
					><span class="fs-md text-light">1 / 5</span
					><a class="nav-link-style nav-link-light ms-3" href="#"
						><i class="ci-arrow-right"></i
					></a>
				</div>
				<div class="d-none d-sm-flex pb-3">
					<a
						class="btn btn-icon nav-link-style bg-light text-dark disabled opacity-100 me-2"
						href="#"
						><i class="ci-view-grid"></i></a
					><a
						class="btn btn-icon nav-link-style nav-link-light"
						href="shop-list-ls.html"
						><i class="ci-view-list"></i
					></a>
				</div>
			</div>

			<!-- Products grid-->
			<div class="row mx-n2">
				{% if page_obj.object_list %}
				{% for book in page_obj.object_list|slice:":6" %}
				<!-- Product-->
				<div class="col-md-4 col-sm-6 px-2 mb-4">
					<div class="card product-card">
						<button
							aria-label="Add to wishlist"
							class="btn-wishlist btn-sm"
							data-bs-original-title="Add to wishlist"
							data-bs-placement="left"
							data-bs-toggle="tooltip"
							type="button"
						>
						<img src="{% static 'admin/img/gis/heart.png' %}" alt="Add to wishlist" style="width: 23px; height: 23px;" aria-hidden="false">
						</button
						>
                        {% if book.image %}
						<a
							class="card-img-top d-block overflow-hidden"
							href="/book/{{ book.slug }}/"
							><img alt="{{ book.title }}" src="{{ book.image.url }}"
						/></a> 
						{% endif %}



						<div class="card-body py-2">
							<a class="product-meta d-block fs-xs pb-1" href="#"
								>Sneakers &amp; Keds</a
							>
							<h3 class="product-title fs-sm">
								<a href="shop-single-v1.html"
									>{{ book.title }}</a
								>
							</h3>
							<p><small>Book by: {{ book.author }}</small></P>


							<div class="d-flex justify-content-between">
								<div class="product-price">
									<span class="text-accent">${{ book.price }}.<small></small></span>
								</div>
								<div class="star-rating">
									<i class="star-rating-icon ci-star-filled active"></i
									><i class="star-rating-icon ci-star-filled active"></i
									><i class="star-rating-icon ci-star-filled active"></i
									><i class="star-rating-icon ci-star-filled active"></i
									><i class="star-rating-icon ci-star"></i>
								</div>
							</div>
						</div>
						<div class="card-body card-body-hidden">
							<button
								class="btn btn-primary btn-sm d-block w-100 mb-2"
								type="button"
								onclick="addToCart('{{ book.slug }}');"
							>
								<i class="ci-cart fs-sm me-1"></i>Add to Cart
							</button>


						

							<div class="text-center">
								<a class="nav-link-style fs-ms" data-bs-toggle="modal" href="#quick-view"
								   data-title="{{ book.title }}"
								   data-image="{{ book.image.url }}"
								   data-price="{{ book.price }}"
								   data-author="{{ book.author }}"
								   {% comment %} data-description="#"> {% endcomment %}
									<i class="ci-eye align-middle me-1"></i>Quick view
								</a>
							</div>
							<script>
								document.addEventListener('DOMContentLoaded', function () {
									const quickViewLinks = document.querySelectorAll('a[data-bs-toggle="modal"]');
								
									quickViewLinks.forEach(link => {
										link.addEventListener('click', function () {
											const title = this.getAttribute('data-title');
											const image = this.getAttribute('data-image');
											const  author = this.getAttribute('data-author');
											const price = this.getAttribute('data-price');
											const description = this.getAttribute('data-description');
								
											document.getElementById('modal-book-title').innerText = title;
											const modalImage = document.getElementById('modal-book-image');
											modalImage.src = image;
											modalImage.style.width = '40%'; // or set a specific width like '300px'
											modalImage.style.height = 'auto'; // maintain aspect ratio
								
											document.getElementById('modal-book-price').innerText = `$${price}`;
											document.getElementById('modal-book-description').innerText = description;
										});
									});
								});
							</script>
								

						
								


						</div>
					</div>
					<hr class="d-sm-none" />
				</div>
				{% endfor %}
				{% else %}
				<p>No bood found.</p>
				{% endif %}
			</div>

			<!-- Banner-->
			<div class="py-sm-2">
				<div
					class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden mb-4 rounded-3"
				>
					<div
						class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start"
					>
						<h4 class="fs-lg fw-light mb-2">Improve your vision</h4>
						<h3 class="mb-4">Make Your Day more comfortble by reading books</h3>
						<a class="btn btn-primary btn-shadow btn-sm" href="#"
							>Shop Now</a
						>
					</div>
					<img
						alt="Shop Converse"
						class="d-block ms-auto"
						src=" {% static 'admin/img/book.jpeg' %}"
					/>    
				</div>
			</div>

			<!-- Products grid-->
			<div class="row mx-n2">
				{% if page_obj.object_list %}
				{% for book in page_obj.object_list|slice:"6:" %}
				<!-- Product-->
				<div class="col-md-4 col-sm-6 px-2 mb-4">
					<div class="card product-card">
						<button
							aria-label="Add to wishlist"
							class="btn-wishlist btn-sm"
							data-bs-original-title="Add to wishlist"
							data-bs-placement="left"
							data-bs-toggle="tooltip"
							type="button"
						>
						<img src="{% static 'admin/img/gis/heart.png' %}" alt="Add to wishlist" style="width: 23px; height: 23px;" aria-hidden="false">
						</button
						>
                        {% if book.image %}
						<a
							class="card-img-top d-block overflow-hidden"
							href="/book/{{ book.slug }}/"
							><img alt="{{ book.title }}" src="{{ book.image.url }}"
						/></a> 
						{% endif %}
						<div class="card-body py-2">
							<a class="product-meta d-block fs-xs pb-1" href="#"
								>Sneakers &amp; Keds</a
							>
							<h3 class="product-title fs-sm">
								<a href="shop-single-v1.html"
									>{{ book.title }}</a
								>
							</h3>
							<p><small>Book by: {{ book.author }}</small></P>


							<div class="d-flex justify-content-between">
								<div class="product-price">
									<span class="text-accent">${{ book.price }}.<small></small></span>
								</div>
								<div class="star-rating">
									<i class="star-rating-icon ci-star-filled active"></i
									><i class="star-rating-icon ci-star-filled active"></i
									><i class="star-rating-icon ci-star-filled active"></i
									><i class="star-rating-icon ci-star-filled active"></i
									><i class="star-rating-icon ci-star"></i>
								</div>
							</div>
						</div>
						<div class="card-body card-body-hidden">
							


							<button
							class="btn btn-primary btn-sm d-block w-100 mb-2"
							type="button"
							onclick="addToCart('{{ book.slug }}');"
						>
							<i class="ci-cart fs-sm me-1"></i>Add to Cart
						</button>



							<div class="text-center">
								<a class="nav-link-style fs-ms" data-bs-toggle="modal" href="#quick-view"
								   data-title="{{ book.title }}"
								   data-image="{{ book.image.url }}"
								   data-price="{{ book.price }}"
								   data-author="{{ book.author }}"
								   {% comment %} data-description="#"> {% endcomment %}
									<i class="ci-eye align-middle me-1"></i>Quick view
								</a>
							</div>
							<script>
								document.addEventListener('DOMContentLoaded', function () {
									const quickViewLinks = document.querySelectorAll('a[data-bs-toggle="modal"]');
								
									quickViewLinks.forEach(link => {
										link.addEventListener('click', function () {
											const title = this.getAttribute('data-title');
											const image = this.getAttribute('data-image');
											const  author = this.getAttribute('data-author');
											const price = this.getAttribute('data-price');
											const description = this.getAttribute('data-description');
								
											document.getElementById('modal-book-title').innerText = title;
											const modalImage = document.getElementById('modal-book-image');
											modalImage.src = image;
											modalImage.style.width = '40%'; // or set a specific width like '300px'
											modalImage.style.height = 'auto'; // maintain aspect ratio
								
											document.getElementById('modal-book-price').innerText = `$${price}`;
											document.getElementById('modal-book-description').innerText = description;
										});
									});
								});
							</script>
								

						
								


						</div>
					</div>
					<hr class="d-sm-none" />
				</div>
				{% endfor %}
				{% else %}
				<p>No books found.</p>
			{% endif %}
			</div>
			<hr class="my-3" />

			   <!-- Pagination -->
			   <nav aria-label="Page navigation" class="d-flex justify-content-between pt-2">
				<ul class="pagination">
					{% if page_obj.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.previous_page_number }}">
								<i class="ci-arrow-left me-2"></i>Prev
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<span class="page-link"><i class="ci-arrow-left me-2"></i>Prev</span>
						</li>
					{% endif %}
				</ul>
				<ul class="pagination">
					<li class="page-item d-sm-none">
						<span class="page-link page-link-static">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
					</li>
					{% for num in page_obj.paginator.page_range %}
						{% if page_obj.number == num %}
							<li aria-current="page" class="page-item active d-none d-sm-block">
								<span class="page-link">{{ num }}<span class="visually-hidden">(current)</span></span>
							</li>
						{% else %}
							<li class="page-item d-none d-sm-block">
								<a class="page-link" href="?page={{ num }}">{{ num }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<ul class="pagination">
					{% if page_obj.has_next %}
						<li class="page-item">
							<a aria-label="Next" class="page-link" href="?page={{ page_obj.next_page_number }}">
								Next<i class="ci-arrow-right ms-2"></i>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<span class="page-link">Next<i class="ci-arrow-right ms-2"></i></span>
						</li>
					{% endif %}
				</ul>
			</nav>
			
		</section>
		
	</div>
</div>

{% endblock %}