{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Products grid (Trending products)-->
<section class="container pt-md-3 pb-5 mb-md-3">
	<h2 class="h3 text-center">Trending Books</h2>
	<div class="row pt-4 mx-n2">

		<!-- Product-->
		{% for book in trending_books %}
		<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
			<div class="card product-card">
				<button aria-label="Add to wishlist" class="btn-wishlist btn-sm" data-bs-original-title="Add to wishlist" data-bs-placement="left"
					data-bs-toggle="tooltip" type="button" >
					
					<img src="{% static 'admin/img/gis/heart.png' %}" alt="Add to wishlist" style="width: 25px; height: 25px;"  aria-hidden="true">

					</i></button>
					{% if book.image %}
					<a class="card-img-top d-block overflow-hidden" href="/book/{{ book.slug }}/">
					<img alt="{{ book.title }}" src="{{ book.image.url }}" 
					{% endif %}
				/></a>

				<div class="card-body py-2">
					<a class="product-meta d-block fs-xs pb-1" href="#"
						>Sneakers &amp; Keds</a
					>
					<h3 class="product-title fs-sm">
						<a href="/book/{{ book.slug }}/">{{ book.title }}</a>
					</h3>
					<p><small>Book by: {{ book.author }}</small></P>
					<div class="d-flex justify-content-between">
						<div class="product-price">
							<span class="text-accent">${{ book.price }}.<small></small></span>
						</div>

						<div class="star-rating">
							<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Star Icon" />
							<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Star Icon" />
							<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Star Icon" />
							
							<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Half Star Icon" />
							
							<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px; opacity: 0.5;" alt="Empty Star Icon" />
						</div>
						  


					</div>
				</div>
				<div class="card-body card-body-hidden">

				<button
					class="btn btn-primary btn-sm d-block w-100 mb-2"
					type="button"
					style="background-color: #0096FF"
					onclick="addToCart('{{ book.slug }}');"
				  >
					<i class="ci-cart fs-sm me-1"></i>Add to Cart
				</button>

					
					<div class="text-center">
						<a class="nav-link-style fs-ms" data-bs-toggle="modal" href="#quick-view"
							data-title="{{ book.title }}"
							data-image="{{ book.image.url }}"
							data-price="{{ book.price }}"
							data-author="{{ book.author }}"
							{% comment %} data-description="#"> {% endcomment %}
							<i class="ci-eye align-middle me-1"></i>Quick view
						</a>
					</div>
					<script>
						document.addEventListener('DOMContentLoaded', function () {
							const quickViewLinks = document.querySelectorAll('a[data-bs-toggle="modal"]');
						
							quickViewLinks.forEach(link => {
								link.addEventListener('click', function () {
									const title = this.getAttribute('data-title');
									const image = this.getAttribute('data-image');
									const  author = this.getAttribute('data-author');
									const price = this.getAttribute('data-price');
									const description = this.getAttribute('data-description');
						
									document.getElementById('modal-book-title').innerText = title;
									const modalImage = document.getElementById('modal-book-image');
									modalImage.src = image;
									modalImage.style.width = '40%'; // or set a specific width like '300px'
									modalImage.style.height = 'auto'; // maintain aspect ratio
						
									document.getElementById('modal-book-price').innerText = `$${price}`;
									document.getElementById('modal-book-description').innerText = description;
								});
							});
						});
					</script>
				</div>
			</div>
			<hr class="d-sm-none" />
		</div>
		{% endfor %}

	</div>

	<div class="text-center pt-3">
		<a class="btn btn-outline-accent" href="/shop"
			>More Books<i class="ci-arrow-right ms-1"></i
		></a>
	</div>
</section>


<!-- Banners-->
<section class="container pb-4 mb-md-3">
	<div class="row">
		<div class="col-md-8 mb-4">
			<div
				class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden rounded-3"
			>
				<div
					class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start"
				>
					<h4 class="fs-lg fw-light mb-2">
						Hurry up! Limited time offer
					</h4>
					<h3 class="mb-4">Books</h3>
					<a class="btn btn-primary btn-shadow btn-sm" href="/shop"
						>Shop Now</a
					>
				</div>
				<img
					alt="Shop Converse"
					class="d-block ms-auto"
					src="{% static 'admin/img/relm.jpeg' %}" 
				/>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div
				class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-3"
				style="background-image: url(img/blog/banner-bg.jpg)"
			>
				<div class="py-4 my-2 px-4 text-center">
					<div class="py-1">
						<h5 class="mb-2">Your Add Banner Here</h5>
						<p class="fs-sm text-muted">Hurry up to reserve your spot</p>
						<a class="btn btn-primary btn-shadow btn-sm" href="#"
							>Contact us</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Featured category (Hoodie)-->
<section class="container mb-4 pb-3 pb-sm-0 mb-sm-5">
	<div class="row">
		<!-- Banner with controls-->
		<div class="col-md-5">
			<div class="d-flex flex-column h-100 overflow-hidden rounded-3" style="background-color: #e2e9ef">
				<div class="d-flex justify-content-between px-grid-gutter py-grid-gutter">
					<div>
						<h3 class="mb-1">Recommended books </h3>
						<a class="fs-md" href="shop-grid-ls.html">All the category <i class="ci-arrow-right fs-xs align-middle ms-1"></i></a>
					</div>
					<div aria-label="Carousel Navigation" class="tns-carousel-controls" id="hoodie-day" tabindex="0">
						<button aria-controls="tns3" data-controls="prev" tabindex="-1" type="button">
							<i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 25px;"></i>
						</button>
						<button aria-controls="tns3" data-controls="next" tabindex="-1" type="button">
							<i class="fa fa-chevron-circle-right" aria-hidden="true" style="font-size: 25px;"></i>
						</button>
					</div>
				</div>
				<a class="d-none d-md-block mt-auto" href="shop-grid-ls.html">
					<img alt="For Women" class="d-block w-100" src="{% static 'admin/img/recommendedbook.jpeg' %}" />
				</a>
			</div>
		</div>

		<!-- Product grid (carousel)-->
		<div class="col-md-7 pt-4 pt-md-0">
			<div class="tns-carousel">
				<div class="tns-outer">
					<div aria-atomic="true" aria-live="polite" class="tns-liveregion tns-visually-hidden">
						slide <span class="current">1</span> of 3
					</div>
					<div class="tns-ovh">
						<div class="tns-inner">
							
							<div class="tns-carousel-inner tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-carousel-options='{"nav": false, "controlsContainer": "#hoodie-day"}' id="tns3">
								<!-- Add your product items here -->
						
								{% for book in recommended_books %}
										<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
											<div class="card product-card">
												<button aria-label="Add to wishlist" class="btn-wishlist btn-sm" data-bs-original-title="Add to wishlist" data-bs-placement="left"
													data-bs-toggle="tooltip" type="button" >
													<i class="ci-heart">
														<img src="{% static 'admin/img/gis/heart.png' %}" alt="Add to wishlist" style="width: 18px; height: 21px;">
													</i></button>
													{% if book.image %}
													<a class="card-img-top d-block overflow-hidden" href="/book/{{ book.slug }}/">
													<img alt="{{ book.title }}" src="{{ book.image.url }}" 
													{% endif %}
												/></a>

												<div class="card-body py-2">
													<a class="product-meta d-block fs-xs pb-1" href="#"
														>Sneakers &amp; Keds</a
													>
													<h3 class="product-title fs-sm">
														<a href="/book/{{ book.slug }}/">{{ book.title }}</a>
													</h3>
													<p><small>Book by: {{ book.author }}</small></P>
													<div class="d-flex justify-content-between">
														<div class="product-price">
															<span class="text-accent">${{ book.price }}.<small></small></span>
														</div>
														<div class="star-rating">
															<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Star Icon" />
															<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Star Icon" />
															<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Star Icon" />
															
															<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Half Star Icon" />
															
															<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px; opacity: 0.5;" alt="Empty Star Icon" />
														</div>
													</div>
												</div>
												<div class="card-body card-body-hidden">

													


													<button
														class="btn btn-primary btn-sm d-block w-100 mb-2"
														type="button"
														style="background-color: #0096FF"
														onclick="addToCart('{{ book.slug }}');"
													>
														<i class="ci-cart fs-sm me-1"></i>Add to Cart
													</button>
													
													<div class="text-center">
														<a class="nav-link-style fs-ms" data-bs-toggle="modal" href="#quick-view"
															data-title="{{ book.title }}"
															data-image="{{ book.image.url }}"
															data-price="{{ book.price }}"
															data-author="{{ book.author }}"
															{% comment %} data-description="#"> {% endcomment %}
															<i class="ci-eye align-middle me-1"></i>Quick view
														</a>
													</div>
													<script>
														document.addEventListener('DOMContentLoaded', function () {
															const quickViewLinks = document.querySelectorAll('a[data-bs-toggle="modal"]');
														
															quickViewLinks.forEach(link => {
																link.addEventListener('click', function () {
																	const title = this.getAttribute('data-title');
																	const image = this.getAttribute('data-image');
																	const  author = this.getAttribute('data-author');
																	const price = this.getAttribute('data-price');
																	const description = this.getAttribute('data-description');
														
																	document.getElementById('modal-book-title').innerText = title;
																	const modalImage = document.getElementById('modal-book-image');
																	modalImage.src = image;
																	modalImage.style.width = '40%'; // or set a specific width like '300px'
																	modalImage.style.height = 'auto'; // maintain aspect ratio
														
																	document.getElementById('modal-book-price').innerText = `$${price}`;
																	document.getElementById('modal-book-description').innerText = description;
																});
															});
														});
													</script>
												</div>
											</div>
											<hr class="d-sm-none" />
										</div>
								{% endfor %}
							
							</div>
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var slider = tns({
            container: '#tns3',
            items: 1,  // Show 1 group of 6 items at a time
            slideBy: 'page',  // Move by 1 group of 6 items at a time
            controlsContainer: '#hoodie-day',
            nav: false,
            autoplay: true,
            autoplayButtonOutput: false,
            responsive: {
                0: {
                    items: 1,  // For small screens, show 1 item at a time
                },
                768: {
                    items: 2,  // For medium screens, show 2 items at a time
                },
                992: {
                    items: 3,  // For large screens, show 3 items at a time
                }
            }
        });
    });
</script>

<section class="container mb-4 pb-3 pb-sm-0 mb-sm-5">
    <div class="row">
        <!-- Product grid (carousel)-->
        <div class="col-md-7">
            <div class="tns-carousel">
                <div class="tns-outer">
                    <div aria-atomic="true" aria-live="polite" class="tns-liveregion tns-visually-hidden">
                        slide <span class="current">1</span> of 3
                    </div>
                    <div class="tns-ovh">
                        <div class="tns-inner">
                            <div class="tns-carousel-inner tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-carousel-options='{"nav": false, "controlsContainer": "#new-hoodie-day"}' id="tns4">
                                <!-- Add your product items here -->
                                {% for book in  must_read %}
                                    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
                                        <div class="card product-card">
											
                                            <button aria-label="Add to wishlist" class="btn-wishlist btn-sm" data-bs-original-title="Add to wishlist" data-bs-placement="left" data-bs-toggle="tooltip" type="button">
												<img src="{% static 'admin/img/gis/heart.png' %}" alt="Add to wishlist" style="width: 21px; height: 21px;">
											</button>
                                            {% if book.image %}
                                                <a class="card-img-top d-block overflow-hidden" href="/book/{{ book.slug }}/">
                                                    <img alt="{{ book.title }}" src="{{ book.image.url }}" />
                                                </a>
                                            {% endif %}
                                            <div class="card-body py-2">
                                                <a class="product-meta d-block fs-xs pb-1" href="#">Sneakers &amp; Keds</a>
                                                <h3 class="product-title fs-sm"><a href="/book/{{ book.slug }}/">{{ book.title }}</a></h3>
                                                <p><small>Book by: {{ book.author }}</small></p>
                                                <div class="d-flex justify-content-between">
                                                    <div class="product-price"><span class="text-accent">${{ book.price }}.<small></small></span></div>
													<div class="star-rating">
														<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Star Icon" />
														<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Star Icon" />
														<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Star Icon" />
														
														<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px;" class="active" alt="Half Star Icon" />
														
														<img src="{% static 'admin/img/gis/star.png' %}" style="width: 18px; height: 18px; opacity: 0.5;" alt="Empty Star Icon" />
													</div>
                                                </div>
                                            </div>
                                            <div class="card-body card-body-hidden">

												<button
													class="btn btn-primary btn-sm d-block w-100 mb-2"
													type="button"
													style="background-color: #0096FF"
													onclick="addToCart('{{ book.slug }}');"
												>
													<i class="ci-cart fs-sm me-1"></i>Add to Cart
												</button>




                                                <div class="text-center">
                                                    <a class="nav-link-style fs-ms" data-bs-toggle="modal" href="#quick-view"
                                                       data-title="{{ book.title }}"
                                                       data-image="{{ book.image.url }}"
                                                       data-price="{{ book.price }}"
                                                       data-author="{{ book.author }}">
                                                        <i class="ci-eye align-middle me-1"></i>Quick view
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="d-sm-none" />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Banner with controls-->
        <div class="col-md-5 pt-4 pt-md-0">
            <div class="d-flex flex-column h-100 overflow-hidden rounded-3" style="background-color: #e2e9ef">
                <div class="d-flex justify-content-between px-grid-gutter py-grid-gutter">
                    <div>
                        <h3 class="mb-1">Must Read Books</h3>
                        <a class="fs-md" href="shop-grid-ls.html">All categories <i class="ci-arrow-right fs-xs align-middle ms-1"></i></a>
                    </div>
                    <div aria-label="Carousel Navigation" class="tns-carousel-controls" id="new-hoodie-day" tabindex="0">
                        <button aria-controls="tns4" data-controls="prev" tabindex="-1" type="button">
                            <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 25px;"></i>
                        </button>
                        <button aria-controls="tns4" data-controls="next" tabindex="-1" type="button">
                            <i class="fa fa-chevron-circle-right" aria-hidden="true" style="font-size: 25px;"></i>
                        </button>
                    </div>
                </div>
                <a class="d-none d-md-block mt-auto" href="shop-grid-ls.html">
                    <img alt="For Women" class="d-block w-100" src="{% static 'admin/img/mustreadbook.jpeg' %}" />
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var slider = tns({
            container: '#tns4',
            items: 1,
            slideBy: 'page',
            controlsContainer: '#new-hoodie-day',
            nav: false,
            autoplay: true,
            autoplayButtonOutput: false,
            responsive: {
                0: {
                    items: 1,
                },
                768: {
                    items: 2,
                },
                992: {
                    items: 3,
                }
            }
        });
    });
</script>

<section class="row g-0">
	<div class="col-md-6 bg-secondary" style="min-height: 15rem; position: relative;">
	  <img alt="For Women" class="d-block w-100" src="{% static 'admin/img/vide12.png' %}" />
	</div>
	<div class="col-md-6 px-3 px-md-5 py-5">
	  <div class="mx-auto py-lg-5" style="max-width: 35rem">
		<h2 class="h3 pb-3">Search, Select, Buy online</h2>
		<p class="fs-sm pb-3 text-muted">
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
		  id purus at risus pellentesque faucibus a quis eros. In eu
		  fermentum leo. Integer ut eros lacus. Proin ut accumsan leo.
		  Morbi vitae est eget dolor consequat aliquam eget quis dolor.
		  Mauris rutrum fermentum erat, at euismod lorem pharetra nec.
		  Duis erat lectus, ultrices euismod sagittis at, pharetra eu
		  nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean
		  dolor dolor tristique nec. Tristique nulla aliquet enim tortor
		  at auctor urna nunc. Sit amet aliquam id diam maecenas ultricies
		  mi eget.
		</p>
		<a class="btn btn-primary btn-shadow" href="shop-grid-ls.html"
		  >View products</a
		>
	  </div>
	</div>
  </section>

	
<!-- Blog + Instagram info cards-->
<section class="container-fluid px-0">
	<div class="row g-0">
		<div class="col-md-6">
			<a
				class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary"
				href="blog-list-sidebar.html"
			>
				<div class="card-body text-center">
					<i class="ci-edit h3 mt-2 mb-4 text-primary"></i>
					<h3 class="h5 mb-1">Read the blog</h3>
					<p class="text-muted fs-sm">
						Latest store, fashion news and trends
					</p>
				</div></a
			>
		</div>
		<div class="col-md-6">
			<a
				class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent"
				href="#"
			>
				<div class="card-body text-center">
					<i class="ci-instagram h3 mt-2 mb-4 text-accent"></i>
					<h3 class="h5 mb-1">Follow on Instagram</h3>
					<p class="text-muted fs-sm">#ShopWithCartzilla</p>
				</div></a
			>
		</div>
	</div>
</section>

{% endblock %}











