{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
      <nav aria-label="breadcrumb">
        <ol
          class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start"
        >
          <li class="breadcrumb-item">
            <a class="text-nowrap" href="/"
              ><i class="ci-home"></i>Home</a
            >
          </li>
          <li class="breadcrumb-item text-nowrap">
            <a href="/shop">Shop</a>
          </li>
          <li
            aria-current="page"
            class="breadcrumb-item text-nowrap active"
          >
            Checkout
          </li>
        </ol>
      </nav>
    </div>
    <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
      <h1 class="h3 text-light mb-0">Checkout</h1>
    </div>
  </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
  <div class="row">
    <section class="col-lg-8">
      <!-- Steps-->
      <div class="steps steps-light pt-2 pb-3 mb-5">
        <a class="step-item active" href="shop-cart.html">
          <div class="step-progress">
            <span class="step-count">1</span>
          </div>
          <div class="step-label"><i class="ci-cart"></i>Cart</div></a
        ><a class="step-item active current" href="checkout-details.html">
          <div class="step-progress">
            <span class="step-count">2</span>
          </div>
          <div class="step-label">
            <i class="ci-user-circle"></i>Details
          </div></a
        ><a class="step-item" href="checkout-shipping.html">
          <div class="step-progress">
            <span class="step-count">3</span>
          </div>
          <div class="step-label">
            <i class="ci-package"></i>Shipping
          </div></a
        ><a class="step-item" href="checkout-payment.html">
          <div class="step-progress">
            <span class="step-count">4</span>
          </div>
          <div class="step-label"><i class="ci-card"></i>Payment</div></a
        ><a class="step-item" href="checkout-review.html">
          <div class="step-progress">
            <span class="step-count">5</span>
          </div>
          <div class="step-label">
            <i class="ci-check-circle"></i>Review
          </div></a
        >
      </div>
      <!-- Autor info-->




      <div class="d-sm-flex justify-content-between align-items-center bg-secondary p-4 rounded-3 mb-grid-gutter">
        <div class="d-flex align-items-center">
          <div class="img-thumbnail rounded-circle position-relative flex-shrink-0" >
            <span
              class="badge bg-warning position-absolute end-0 mt-n2"
              data-bs-original-title="Reward points"
              data-bs-toggle="tooltip"
              >384</span
            ><img
              alt="Susan Gardner"
              class="rounded-circle"  
              src="{% static 'admin/img/avatar.jpg' %}"
              width="90"
            />
          </div>

          <div class="ps-3">
            <h3 class="fs-base mb-0">Susan Gardner</h3>
            <span class="text-accent fs-sm">s.gardner@example.com</span>
          </div>

        </div>
        <a
          class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0"
          href="account-profile.html"
          ><i class="ci-edit me-2"></i>Edit profile</a
        >
      </div>

      <!-- Shipping address-->
      <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Address</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-fn">First Name</label>
            <input class="form-control" id="checkout-fn" type="text" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-ln">Last Name</label>
            <input class="form-control" id="checkout-ln" type="text" />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-email"
              >E-mail Address</label
            >
            <input
              class="form-control"
              id="checkout-email"
              type="email"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-phone"
              >Phone Number</label
            >
            <input class="form-control" id="checkout-phone" type="text" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-company"
              >Company</label
            >
            <input
              class="form-control"
              id="checkout-company"
              type="text"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-country"
              >Country</label
            >
            <select class="form-select" id="checkout-country">
              <option>Choose country</option>
              <option>Australia</option>
              <option>Canada</option>
              <option>France</option>
              <option>Germany</option>
              <option>Switzerland</option>
              <option>USA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-city">Country</label>
            <select class="form-select" id="checkout-city">
              <option>Choose city</option>
              <option>Amsterdam</option>
              <option>Berlin</option>
              <option>Geneve</option>
              <option>New York</option>
              <option>Paris</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-zip">ZIP Code</label>
            <input class="form-control" id="checkout-zip" type="text" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-address-1"
              >Address 1</label
            >
            <input
              class="form-control"
              id="checkout-address-1"
              type="text"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="checkout-address-2"
              >Address 2</label
            >
            <input
              class="form-control"
              id="checkout-address-2"
              type="text"
            />
          </div>
        </div>
      </div>
      <h6 class="mb-3 py-3 border-bottom">Billing address</h6>
      <div class="form-check">
        <input
          checked=""
          class="form-check-input"
          id="same-address"
          type="checkbox"
        />
        <label class="form-check-label" for="same-address"
          >Same as shipping address</label
        >
      </div>








      <!-- Navigation (desktop)-->
      <div class="d-none d-lg-flex pt-4 mt-3">
        <div class="w-50 pe-3">
          <a class="btn btn-secondary d-block w-100" href="/cart"
            ><i class="ci-arrow-left mt-sm-0 me-1"></i
            ><span class="d-none d-sm-inline">Back to Cart</span
            ><span class="d-inline d-sm-none">Back</span></a
          >
        </div>
        <div class="w-50 ps-2">
          <a
            class="btn btn-primary d-block w-100"
            href="/payment"
            ><span class="d-none d-sm-inline">Proceed to payment</span
            ><span class="d-inline d-sm-none">Next</span
            ><i class="ci-arrow-right mt-sm-0 ms-1"></i
          ></a>
        </div>
      </div>
    </section>

    <!-- Sidebar-->
    <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
      <div class="bg-white rounded-3 shadow-lg p-4 ms-lg-auto">
        <div class="py-2 px-xl-2">
          <div class="widget mb-3">
            <h2 class="widget-title text-center">Order summary</h2>

            {% for item in cart %}
            <div class="d-flex align-items-center pb-2 border-bottom">
              {% if item.book.image %}
              <a class="d-block flex-shrink-0" href="shop-single-v1.html"
                ><img alt="{{ item.book.title }}" src="{{ item.book.image.url }}" width="64" 
              /></a>
              {% else %}
            <p>{{ item.book.title }}</p>
            {% endif %}

              <div class="ps-2">
                <h6 class="widget-product-title">
                  <a href="shop-single-v1.html"
                    >{{ item.book.title }}</a
                  >
                </h6>
                <div class="widget-product-meta">
                  <span class="text-accent me-2"
                    >${{ item.book.price }}.<small></small></span
                  ><span class="text-muted"></span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <ul class="list-unstyled fs-sm pb-2 border-bottom">
            <li class="d-flex justify-content-between align-items-center">
              <span class="me-2">Subtotal:</span
              ><span class="text-end">${{ cart.get_total_cost }}.<small></small></span>
            </li>
          
          </ul>
          <h3 class="fw-normal text-center my-4">
            ${{ cart.get_total_cost }}.<small></small>
          </h3>

          <form class="needs-validation" method="post" novalidate="">
            <div class="mb-3">
              <input
                class="form-control"
                placeholder="Promo code"
                required=""
                type="text"
              />
              <div class="invalid-feedback">
                Please provide promo code.
              </div>
            </div>
            <button
              class="btn btn-outline-primary d-block w-100"
              type="submit"
            >
              Apply promo code
            </button>
          </form>
          
        </div>
      </div>
    </aside>

  </div>
  <!-- Navigation (mobile)-->
  <div class="row d-lg-none">
    <div class="col-lg-8">
      <div class="d-flex pt-4 mt-3">
        <div class="w-50 pe-3">

          <a class="btn btn-secondary d-block w-100" href="/"
            ><i class="ci-arrow-left mt-sm-0 me-1"></i
            ><span class="d-none d-sm-inline">Back to school</span
            ><span class="d-inline d-sm-none">Back</span></a
          >
        </div>

        
        <div class="w-50 ps-2">
          <a
            class="btn btn-primary d-block w-100"
            href="checkout-shipping.html"
            ><span class="d-none d-sm-inline">Proceed to Shipping</span
            ><span class="d-inline d-sm-none">Next</span
            ><i class="ci-arrow-right mt-sm-0 ms-1"></i
          ></a>
        </div>
      </div>
    </div>
  </div>



</div>

{% endblock %}         
